p {
	font-size: 16px;
	text-align: justify;
	letter-spacing: 3px;
}
	p {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: left;
  }

  h1{
	font-family: "Creepster", system-ui;
	font-weight: 400;
	font-style: normal;
	text-align: left;
  }

  h6{
	font-family: "Creepster", system-ui;
	font-weight: 400;
	font-style: normal;
	text-align: left;
  }

  h2{	font-family: "Creepster", system-ui;
	font-weight: 400;
	font-style: normal;
	text-align: left;
}
	h3{
		font-family: "Creepster", system-ui;
		font-weight: 400;
		font-style: normal;
		text-align: left;
	}

	h4{
		font-family: "Creepster", system-ui;
		font-weight: 400;
		font-style: normal;
		text-align: left;
	}

	h5{
		font-family: "Creepster", system-ui;
		font-weight: 400;
		font-style: normal;
		text-align: left;
	}


  .headcolor{
	background-color: #780606;
	height: 80px;
	position: center;
	text-align: center;
	padding: 20px;
	border: 20px;
	margin:20px;
	border-top: 100px;
  }
  .headcolor-moblie{
	background-color:#61DE2A;
  }
  ul{
	list-style-type: none;
	font-size: 40px;
	position:center;
  }
  
  li{
	display:inline-block;
	margin-right: 20px;
	padding: 10px;
  }

  a{
	background-color:none;
  }

  a:visited{
	color:grey;
  }
  a:hover {
	background-color:none;
	color:#61DE2A;
	transition: background-color 1.5s, color 1.75s;
  }


  .contain1{
	padding: 20px;
	border: 20px;
	margin:20px;
  }

  .contain2{
	padding: 20px;
	border: 20px;
	margin:20px;
  }

  .contain3{
	padding: 20px;
	border: 20px;
	margin:20px;
  }

  .footer{
	background-color: #780606;
	width: 1530px;
	height: 80px;
	position: center;
	text-align: center;
	padding: 20px;
	border: 20px;
	margin:20px;
	text-align: center;
	color:#61DE2A;
	font-size: 16px;
  }

 .imgcontain{
	border-top: 10px;
	border-left:10px;
	border-right: 10px;
	box-shadow: 0 4px 8px 0 #61DE2A;
	display: inline-block;
	background-color: #780606;
	margin:auto;
	height: 400px;
	width:365px;
	vertical-align: top;
  }

  .imgcontain2{
	border-top: 10px;
	border-bottom: 500px;
	border-left: 10px;
	border-right: 10px;
	box-shadow: 0 4px 8px 0 #61DE2A;
	display: inline-block;
	background-color: #780606;
	height: 400px;
	vertical-align:top;
	
  }

  .imgcontain3{
	border-top: 10px;
	border-left:25px;
	border-right: 25px;
	box-shadow: 0 4px 8px 0 #61DE2A;
	display: inline-block;
	background-color: #780606;
	height: 400px;
	vertical-align:top;
  }

  .textcolor{
	color:#61DE2A;
  }

  .imgbox{
	width:100%;
	display:block;
	height: 450px;
	height:456px;
	float:left;
  }
  
@media screen and (max-width:600px) {
	p {
		font-size: 10px;
	}

		.imgbox{
			display: none;
		}
	
		.headcolor{
			margin:0px;
		}
	  .body-moblie{
		background-color:#61DE2A;
	  }
	  ul{
		font-size:20px;
	  }
	  .footer{
		margin:0px;
	  }
}

